<main>
  <div class="box">
    <div class="inner-box">
      <div class="forms-wrap">
        <!-- Login Page -->
        <form [formGroup]="login" (ngSubmit)="loginUser()" class="sign-in-form">
          <div class="logo">
            <img src="../../assets/logo1.jpeg" alt="" />
          </div>

          <div class="heading">
            <h2 >Welcome Back</h2>
            <h6 class="notr">Not registred yet?</h6>
            <a (click)="switchPage()" href="javascript:void(0)" class="toggle"
              >Sign up</a
            >
          </div>

          <div class="actual-form">
            <div class="input-wrap">
              <input
                type="text"
                class="input-field"
                formControlName="username"
              />
              <label>Username</label>
            </div>

            <div class="input-wrap">
              <input
                type="password"
                class="input-field"
                formControlName="password"
              />
              <label>Password</label>
            </div>

            <input class="sign-btn" type="submit" value="Sign In" />

            <p class="text">
              <!-- Forgotten your password or you login datails? -->
              <!-- <a href="#">Get help</a> signing in -->
            </p>
          </div>
          <p  style="font-size: 14">
            <!-- forgot username or password ?
            <a (click)="this.forgot.verifyEmail(forgot)" routerLink="/forgot" >click here</a> -->
        </p>
        </form>

        <form [formGroup]="register" (ngSubmit)="registerUser()" action="/login" class="sign-up-form">
          <div class="logo">
            <img src="../../assets/logo1.jpeg" alt="easyclass" />
            <!-- <h4>Customer Segementation</h4> -->
          </div>

          <div class="heading">
            <h2>Get Started</h2>
            <h6>Already have an account?</h6>
            <a (click)="switchPage()" href="javascript:void(0)" class="toggle"
              >Sign in</a
            >
          </div>

          <div class="actual-form">
            <div class="input-wrap">
              <input type="text" minlength="4" class="input-field" formControlName="username" required />
              <label>Username</label>
            </div>
            <p
              *ngIf="
                register.controls['username'].touched &&
                !register.controls['username'].valid
              "
              class="warnings helpers"
            >
              <!-- username must contain min-6 and max-10 characters -->
            </p>

            <div class="input-wrap">
              <input
                type="email"
                class="input-field"
                formControlName="email"
              />
              <label >Email</label>
            </div>
            <p
              *ngIf="
                register.controls['email'].touched &&
                !register.controls['email'].valid
              "
              class="warnings helpers"
            >
              <!-- Please enter valid email format email_id@email.com -->
            </p>
            <div class="input-wrap">
              <input
                type="password"
                class="input-field"
                formControlName="password"
              />
              <label>Password</label>
            </div>
            <p
              *ngIf="
                register.controls['password'].touched &&
                !register.controls['password'].valid
              "
              class="warnings helpers"
            >
              <!-- password must be between 6-10 characters -->
            </p>

            <input type="submit" value="Sign Up" class="sign-btn" />
          </div>
        </form>
      </div>

      <div class="carousel">
        <div class="images-wrapper">
          <img src="../../assets/image3.png" class="image img-3 show" alt="" />
        </div>

        <div class="text-wrap">
          <div class="text-group">
            <h2>Customer Segementation</h2>
            <h2>Analyze the data</h2>
            <h2>Grow your business</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
