<div class="header">
    <app-navbar></app-navbar>
    <div class="banner">
      <div class="app-text">
        <h3>Customer segmentation for GROWTH</h3>
        <h1>Manage<br />Analysis...</h1>
        <p>
          The more segmentation you do, the more groups will be formed and your
          sample size will increase in response to that.
        </p>
      </div>
      <div class="app-picture">
        <img src="../../assets/10.jpg" />
      </div>
    </div>
    
    <div class="about-services">
      <ul>
        <li>
          <img src="../../assets/1.png" />
        </li>
        <li>
          <img src="../../assets/2.png" />
        </li>
        <li>
          <img src="../../assets/3.png" />
        </li>
      </ul>
    </div>    
</div>
